<div class="backdpor">
    <div class="modal">
        <!-- часть с картинкой -->
        <div class="poster">
            <img class="poster-image" src="{{img}}" alt="{{imgAlt}}" />
        </div>

        <!-- часть с описанием фильма-->
        <div class="description">
            {{!-- название фильма --}}
            <h2 class="description-title">{{name}}</h2>

            <div class="description-wrapper">
                {{!-- название заголовков --}}
                <ul class="description-list">
                    <li class="description-item">Vote / Votes</li>
                    <li class="description-item">Popularity</li>
                    <li class="description-item">Original Title</li>
                    <li class="description-item">Genre</li>
                </ul>

                {{!-- значение заголовков --}}
                <ul class="value-list">
                    <li class="value-item">
                        <span class="value-item rating">{{voteAverage}}</span> / {{voteCount}}
                    </li>
                    <li class="value-item">{{popularity}}</li>
                    <li class="value-item title">{{originalName}}</li>
                    <li class="value-item">{{genres}}</li>
                </ul>
            </div>

            <h3 class="about-title">about</h3>
            <p class="about-desription">
                {{overview}}
            </p>

            <div class="btn-wrapper">
                <button class="watchedBtn watched-add" type="button">
                    Add to watched
                </button>
                <button class="watchedBtn watched-remove" type="button">
                    Remove from watched
                </button>
                <button class="queueBtn queue-add" type="button">
                    Add to queue
                </button>
                <button class="queueBtn queue-remove" type="button">
                    Remove from queue
                </button>
            </div>



        </div>
        <!--  кнопка закрытия модалки -->
        <div class="close-div">
            <?xml version="1.0" encoding="UTF-8"?>
            <svg class='js-close-btn' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                width="30pt" height="30pt" viewBox="0 0 30 30" version="1.1">
                <g id="surface1">
                    <path class='close-icon js-close-btn'
                        style="stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;"
                        d="M 8 8 L 22 22 " />
                    <path class='close-icon js-close-btn'
                        style="stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;"
                        d="M 8 22 L 22 8 " />
                </g>
            </svg>
        </div>
    </div>
</div>