<li class="movies-item" data-id={{id}} data-type={{type}}>
  <div class="thumb" data-id={{id}} data-type={{type}}>
    <img src={{url}} data-id={{id}} data-type={{type}} alt="{{title}} poster" title="{{title}} poster" />
  </div>
  <h2 class="card-title" data-id={{id}} data-type={{type}}>{{title}}</h2>
  <div class="info" data-id={{id}} data-type={{type}}>
    <span class="genres" data-id={{id}} data-type={{type}}>{{genresStr}}</span>
    <span class="line" data-id={{id}} data-type={{type}}>|</span>
    <span class="year" data-id={{id}} data-type={{type}}>{{year}}</span>
  </div>
</li>