<li class="movies-item">
  <div class="thumb">
    <img src={{url}} data-id={{id}} data-type={{type}} />
  </div>
  <h2 class="card-title">{{title}}</h2>
  <div class="info"><span class="genres">{{genresStr}}</span><span class="line">|</span><span
      class="year">{{year}}</span></div>
</li>